{% block javascripts %}
    <script type="text/javascript">
        jQuery(document).ready(function($){
            let tablaResultados = $('#tablaResultados');
            let opcionesTable   = setDataTableOptions(tablaResultados);

            opcionesTable['sort']           = false;
            opcionesTable['displayLength']  = 15;
            opcionesTable['dom']            = "<'row'<'col-sm-5'l><'col-sm-5'f><'col-sm-2'B>>" +
                                              "<'row'<'col-sm-12 table-toolbar'>>" +
                                              "<'row'<'col-sm-12 table-responsive'tr>>" +
                                              "<'row'<'col-sm-5'i><'col-sm-7'p>>";
            opcionesTable['buttons']        = ['excel','pdf'];
            opcionesTable['lengthMenu']     = [[15,20,-1],[15,20,"Todos"]];
            tablaResultados.DataTable(opcionesTable);
        });
    </script>
{% endblock javascripts %}
<br>
<table id="tablaResultados" class="table table-bordered tabled-striped table-hover">
    <thead>
        <tr class="">
            <th class="text-center">Numero de Muestra</th>
            <th class="text-center">Fecha Orden</th>
            <th class="text-center">Nombre de Paciente</th>
            <th class="text-center">Acciones</th>
        </tr>
    </thead>
    <tbody>
        
        {% if ordenes %}
            {% for orden in ordenes %}
                <tr id="">
                    <td class="text-center">{{ anotacion.getId() | date("d-m-Y H:i:s") }}</td>
                    <td>{{ anotacion.getFechaOrden() | date("d-m-Y H:i:s") }}</td>
                    <td>{{ anotacion.getIdPaciente() }}</td>
                    <td>Bonotes</td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="4" class="text-center">No hay ordenes pendientes para este numero de muestra...</td>
            </tr>
        {% endif %}
    </tbody>
</table>