{% extends '@SonataAdmin/CRUD/action.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    {# encore_entry_link_tags('role_edit') #}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        $(document).ready(function () {
            //buscar las ordenes de trabajo con estado pendiente de resultado.
            $('#btnBuscar').on('click', function () {
                numeroOrden = $("#numeroOrden").val()
                //$('#ordenes').waitMe({ text: 'Buscando...' });
                $.ajax({
                url: "{{ path('lab_resultados_ordenes_pendientes') }}",
                data : {numeroOrden : numeroOrden},
                type: "GET",
                dataType: "html",
                success : function (html) {
                    //console.log(html);
                    $("#ordenes").html(html);
                }
                //}).done(function(data) {
                    //$("#ordenes").html("Resultados");
                });
            });
        })
    </script>

{% endblock %}
{% block sonata_admin_content %}
    {#{% block notice %}
        {% include "SonataCoreBundle:FlashMessage:render.html.twig" %}
    {% endblock notice %}#}
    <div class="container-fluid">
        <form name="envio" method="post" id="envio">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="box box-primary">
                        <div class="box-body">
                            <h3 class="text-primary"><strong><i class="ion ion-clipboard"></i>Búsqueda de Ordenes</strong></h3>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <div class="sonata-ba-field sonata-ba-field-standard-natual">
                                        <div class="form-group" style="position: relative;">
                                            <label for="numeroOrden" class="control-label">No. Orden</label><br>
                                            <input type="text" id="numeroOrden" name="numeroOrden" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                                    <button type="button" id="btnBuscar" style="width: 200px; margin-top: 5px;" class="btn btn-info"><i class="glyphicon glyphicon-zoom-in"></i>&nbsp; Buscar</button>
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="row">
            <div id="ordenes" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 center-block">dd</div>
        </div>
    </div>
{% endblock %}
