
{% block stylesheets %}
    <style>
        .bodyR {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
        .wrapper {
            display: grid;
            grid-template-columns: 50% 50%;
            grid-gap: 10px;
            grid-auto-rows: minmax(100px, auto);
        }
        .halfPageOne{
            width: 50%;
            grid-column: 1 / 2;
            grid-row: 1;
            /* margin-left: auto;
            margin-right: auto; */
        }
        .halfPageTwo{
            width: 50%;
            /* margin-left: auto;
            margin-right: auto; */
        }
        img{
            width: 150px;
        }
        .dataHead{
            font-size: 13px;
            text-align: center;
            padding: 0 20px;
        }
        .dataHeadExam{
            font-size: 12px;
            /* text-align: center; */
            /* padding: 0 0; */
        }
    </style>
{% endblock stylesheets %}
    
{% block body %}
<div class="bodyR">
    <div class="wrapper">
        <div class="">
            {% include "Reportes/header_heces.html.twig" %}
        </div>
        <div class="">
            
        </div>
    </div>
</div>
{% endblock body %}
    