{% extends '@SonataAdmin/CRUD/action.html.twig' %}


{% block javascripts %}
{{ parent() }}
<script>
    {{ parent() }}
    $(document).ready(function(){
        $table = $('#detalleOrden').DataTable({
            /* 
            TRADUCIENDO EL LENGUAJE
            */
            "language" : {
                "lengthMenu"    : "Mostrar _MENU_ registros",
                "zeroRecords"   : "No se encontraron resultados",
                "info"          : "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "infoEmpty"     : "Mostrando registros del 0 al 0 de un total de 0 registros",
                "infoFiltered"  : "(filtrado de un todal de _MAX_ registros)",
                "sSearch"       : "Buscar:",
                "oPaginate"     : {
                    "sFirst"    : "Primero",
                    "sLast"     : "Ultimo",
                    "sNext"     : "Siguiente",
                    "sPrevious" : "Anterios"
                },
                "sProcessing"   : "Procesando...",
            }
        });
    }); 
</script>
{% endblock javascripts %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="table-responsive">
                <table id="detalleOrden" class="table table-striped">
                    <thead class="text-center">
                        <tr>
                            <th>Examen</th>
                            <th>Muestra</th>
                            <th>Precio($)</th>
                            <th>Accion</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Hemograma</td>
                            <td>Sangre</td>
                            <td>2.95</td>
                            <td><a href="">detalle</a></td>
                        </tr>
                        <tr>
                            <td>Glucosa</td>
                            <td>Sangre</td>
                            <td>2.25</td>
                            <td><a href="">detalle</a></td>
                        </tr>
                        <tr>
                            <td>Trigliceridos</td>
                            <td>Sangre</td>
                            <td>2.25</td>
                            <td><a href="">detalle</a></td>
                        </tr>
                        <tr>
                            <td>Urocultivo</td>
                            <td>Secrecion</td>
                            <td>5.25</td>
                            <td><a href="">detalle</a></td>
                        </tr>
                        <tr>
                            <td>General de Orina</td>
                            <td>Orina</td>
                            <td>1.75</td>
                            <td><a href="">detalle</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
    
    