
<table>
    <tr><td>Examen</td></tr>
    {% for dato in datos %}
    <tr>
        <td><a href="#" id="idExamen" onclick="mostrarElementos({{ dato.id_examen }})">{{dato.nombre_examen}}</a></td>
        <td>{{dato.id_estado_examen}}</td>
    </tr>
    {% endfor %}
</table>