
{% block javascripts %}

    <script type="text/javascript">
   
    </script>

{% endblock %}

<table>
    <tr><td>Paciente</td></tr>
    {% for dato in datos %}
    <tr>
        <td><a href="#" id="idsolicitud" onclick="mostrarDetalle({{ dato.id }})">{{dato.nombre}} {{dato.apellido}}</a></td>
        <td>{{dato.fecha_orden |date("d/m/Y")}}</td>
    </tr>
    {% endfor %}
</table>